[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
pylint = "*"

[packages]
tensorflow = "==2.1.0"
scikit-learn = "*"
boto3 = "*"
walter-white = {editable = true, path = "."}

[requires]
python_version = "3.6"

[scripts]
lint = "pylint walter_white"
tensorboard = "tensorboard --logdir resources/tensorboard"
